# Examine the math and odds of different rolls in DCC

## Spellcasting

what are the expected values for spellcheck rolls for different dies on the dice chain?

In [2]:
import pandas as pd

In [17]:
def spellcheck_mean(die:int, level:int):
    #what is the mean value for a spellcheck with a given die for a caster with the given level, and no other modifiers?
    rolls = [i + level +1 for i in range(die)]

    #add the caster level again for a crit
    rolls[-1]+=level

    return sum(rolls)/die

What is the expected value for a spell with the mercurial magic: whimsical patron?  

page 113, no 38: 
> Whimsical patron. The spell draws upon the wizard’s patron to succeed, but this entity’s attentions are notoriously fickle. Whenever this spell is cast, roll 1d6 to determine what die is used whenever this spell is cast:
(1-2) d16; (3-4) d20; (5) d24; (6) d30. This d6 roll supersedes the wizard’s normal action die and the dice chain.

In [34]:
#Let's make a list of the expected value vs. caster level.

chain = [16, 20, 24, 30]
prob = [2/6, 2/6, 1/6, 1/6]
levels = range(1,11)
whimsy_dict = {f'level {lev}':{f'd{d}':spellcheck_mean(d, lev) for d in chain} for lev in levels}
spell_chain = pd.DataFrame(whimsy_dict)
spell_chain.index.name = 'die'
spell_chain

,level 1,level 2,level 3,level 4,level 5,level 6,level 7,level 8,level 9,level 10
die,,,,,,,,,,
d16,9.562500,10.625000,11.6875,12.750000,13.812500,14.875,15.937500,17.000000,18.0625,19.125000
d20,11.550000,12.600000,13.6500,14.700000,15.750000,16.800,17.850000,18.900000,19.9500,21.000000
d24,13.541667,14.583333,15.6250,16.666667,17.708333,18.750,19.791667,20.833333,21.8750,22.916667
d30,16.533333,17.566667,18.6000,19.633333,20.666667,21.700,22.733333,23.766667,24.8000,25.833333

Now we can get the expected value.

In [35]:
spell_chain.apply(lambda x: sum(x*prob))

level 1     12.05
level 2     13.10
level 3     14.15
level 4     15.20
level 5     16.25
level 6     17.30
level 7     18.35
level 8     19.40
level 9     20.45
level 10    21.50
dtype: float64

We can get the expected value for a normal spellcheck from the d20 row in the spell_chain table. It's clear that the meurcural increases the expected value by 0.5.

In [36]:
#make the table easier to read:

spell_chain.map(lambda x:'{:2.2f}'.format(x))

,level 1,level 2,level 3,level 4,level 5,level 6,level 7,level 8,level 9,level 10
die,,,,,,,,,,
d16,9.56,10.62,11.69,12.75,13.81,14.88,15.94,17.00,18.06,19.12
d20,11.55,12.60,13.65,14.70,15.75,16.80,17.85,18.90,19.95,21.00
d24,13.54,14.58,15.62,16.67,17.71,18.75,19.79,20.83,21.88,22.92
d30,16.53,17.57,18.60,19.63,20.67,21.70,22.73,23.77,24.80,25.83